* {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(255, 196, 232);
    font-family: 'Courier New', Courier, monospace;
    color: #000000;
    padding: 15px;
}

h1,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h2 {
    text-align: left;
    margin: 10px;
}

a {
    color: #000;
}

a:hover {
    color: rgb(223, 90, 130);
}

.cards {
    display: grid;
    grid-template-columns: auto auto;
}

.bias-card {
    border-style: inset;
    border-color: rgb(223, 90, 130);
    margin: 10px;
    padding: 10px;
    width: 45vw;
    background-color: white;
}

.small {
    font-weight: 300;
    font-style: italic;
}

.idol,
.remove {
    color: #000;
    background-color: rgb(223, 90, 130);
    border-style: none;
    padding: auto;
    margin: 10px;
}

.idol:hover,
.remove:hover {
    color: #000;
    background-color: rgb(255, 196, 232);
}

/* adjustment for smaller screens */
@media screen and (max-width: 768px) {
    .cards {
        display: grid;
        grid-template-columns: auto;
    }

    .bias-card {
        width: 90vw;
    }
}